.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* -------------------------------------- */

.home-page {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
}

.home-content {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.sidebar {
  height: 100%;
}

.choose-date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.gradient {
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #008444 0%,
    rgb(9, 121, 24) 21%,
    #b89f01 81%,
    #ffdd00 100%
  );
}
