.mb-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
}

.mb-text {
    margin: 20px;
    text-align: center;
}

.mb-content {
  overflow-y: auto;
  overflow-x: hidden;
}
  
.mb-content-container {
    display: flex;
    width: 100vw;
    margin: 20px;
    margin-left: 40px;
}

.mb-info-column {
    margin-left: 40px;
}

.mb-submit-btn {
    margin-top: 40px;
    margin-right: 10px;
    padding: 10px;
    background-color: #008444;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: center;
    transition: all .5s;
  }
  
  .mb-submit-btn:hover {
    box-shadow: rgba(10, 94, 24, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }