.home-page{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
}
.home-content{
width: 100%;
height: 100vh;
/* display: flex; */
justify-content: center;
align-items: center;
/* background-color: #ffdd00d8; */
background-color: #ffffff;
}

.sidebar{
    height: 100vh;
    /* background-color: #008444; */
}
.choose-date{
display: flex;
align-items: center;
justify-content: center;
padding-top: 25px;
padding-bottom: 25px;
}
.gradient {
    height: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 6px;
    /* background: linear-gradient(
      90deg,
      rgba(13, 8, 96, 1) 0%,
      rgba(9, 9, 121, 1) 21%,
      rgba(6, 84, 170, 1) 51%,
      rgba(0, 255, 113, 1) 100%
    ); */
    background: linear-gradient(
      90deg,
      #008444 0%,
      rgb(9, 121, 24) 21%,
      #b89f01 81%,
      #ffdd00 100%
    );
  }